@import url(//db.onlinewebfonts.com/c/e3e794f35cf6e4475f17d8f7a91df0a5?family=Tiamat+Condensed+SC+Regular);

.wrapper{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.table-container{
    width: 100%;
}
.common-header{
    text-align: center;
    font-weight: bold;
    font-family: "Tiamat Condensed SC Regular";
    width: 540px;
    margin-left: auto;
    margin-right: auto;
}
.common-text{
    font-size: 16px;
    line-height: 21px;
    font-family: 'PT Sans';
    font-weight: 400;
    color: #2f2f2f;
}
.common-header--black{
    color: #2f2f2f;
}
.common-header--white{
    color: #fff;
}
.common-header--large{
    font-size: 28px;
}
.common-header--medium{
    font-size: 24px;
}
.common-header--small{
    font-size: 18px;
}
.text-container{
    text-align: center;
}
.common-btn{
    background-color: #da291c;
    color: #fff;
    font-family: 'Tiamat Condensed SC Regular';
    font-size: 15px;
    font-weight: 700;
    border: none;
    border-radius: 7px;
    display: block;
    padding: 20px 42px;
    margin-left: auto;
    margin-right: auto;
}
.common-btn.common-btn--simple{
    background-color: #fff;
    color: #111111;
    border: 1px solid #111;
    padding-left: 52px;
    padding-right: 52px;
}
.common-btn span{
    position: relative;
    display: block;
}
.common-btn span:after{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(255,255,255, .3);
    bottom: 0;
    left: 0;
}
.common-btn.common-btn--simple span:after{
    background-color: #e5e5e5;
}
.for_link{
    color: rgb(143, 3, 3);
}

.first-section{
    background: url('/img/castlegraphic1.png') no-repeat top 0 center;
    background-size: 100% 100%;
    position: relative;
}
.first-section__overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #10091b;
    z-index: 1;
    opacity: .4;
}
.logo-container{
    text-align: center;
    z-index: 5;
    position: relative;
}
.header-container{
    text-align: center;
    padding-bottom: 39px;
}
.header-container--header{
    z-index: 5;
    position: relative;
    text-transform: uppercase;
}


.second-section{
    position: relative;
    padding-top: 20px;
}
.second-section img{
    margin-bottom: 20px;
}
.second-section--text-container{
    padding-top: 50px;
    background: url('/img/section-bg-top.png') no-repeat top 0px center, url('/img/section-bg-bottom.png') no-repeat bottom -2px center;
    position: relative;
    z-index: 5;
    padding-bottom: 33px;
}
.second-section .common-header{
    margin-bottom: 20px;
    position: relative;
    z-index: 5;
}
.second-section--text-container p{
    width: 486px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F4F6FC;
    position: relative;
    z-index: 5;
}
.bg-holder{
    width: 85%;
    height: 160px;
    background-color: #F4F6FC;
    position: absolute;
    top: 60px;
    left: 40px;
    z-index: 4;
}


.third-section{
    padding-top: 68px;
    padding-bottom: 34px;
    background: #ba0020;
    position: relative;
    z-index: 4;
    margin-top: -33px;
}

.fourth-section{
    padding-top: 40px;
    text-align: center;
}
.fourth-section img{
    margin-bottom: 20px;
}
.fourth-section .common-header{
    width: 468px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.fourth-section__info{
    display: flex;
}
.fourth-section__images{
    width: 50%;
    position: relative;
}
.fourth-section__text{
    width: 50%;
    text-align: left;
}
.fourth-section__text p{
    margin-bottom: 40px;
}
.gray-div{
    position: absolute;
    left: 0;
    top: 20px;
    width: 211px;
    height: 223px;
    background-color: #F4F6FC;
}
.castle{
    position: absolute;
    top: 55px;
    left: 57px;
}
.musician{
    position: absolute;
    top: 154px;
    left: 26px;
}


.fifth-section{
    padding-top: 30px;
    padding-bottom: 30px;
    background: url('/img/red-bg.png') no-repeat top 0 left 0, #f4f6fc;
}
.fifth-section .common-header{
    width: 540px;
    margin-bottom: 29px;
    margin-left: auto;
    margin-right: auto;
}
.fifth-section__images{
    display: flex;
    justify-content: center;
    margin-bottom: 29px;
}
.fifth-section__images img:first-child{
    margin-right: 8px;
}
.fifth-section__images img:last-child{
    margin-left: 8px;
}

.sixth-section{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.sixth-section .common-header{
    margin-top: 30px;
    margin-bottom: 20px;
}
.sixth-section .common-text{
    width: 540px;
    margin-left: auto;
    margin-right: auto;
}

/* .seventh-section, .nineth-section, .eleventh-section{
    padding-left: 30px;
    padding-right: 30px;
} */
.player-info{
    padding: 30px 30px 30px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.player-info .common-text{
    width: 330px;
}

.text-button-section{
    padding-top: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e9ecf0;
}
.text-button-section .common-btn{
    margin-top: 30px;
    text-transform: uppercase;
}
.text-button-section--two-buttons{
    padding-bottom: 30px;
}


.twelvth-section{
    padding-top: 32px;
    text-align: center;
    background: url('/img/red-bg.png') no-repeat top 0 left 0;
    padding-bottom: 32px;
}
.twelvth-section img{
    margin-bottom: 30px;
}
.twelvth-section p{
    width: 540px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 21px;
}

.footer{
    padding-top: 40px;
    padding-bottom: 30px;
    background: #08050F;
}



